name: Lint
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read

jobs:
  lint:
    concurrency:
      group: lint-${{ github.event_name == 'push' && github.run_number || github.ref }}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv/Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"
          activate-environment: "true"

      - name: Install dependencies
        run: uv pip install .[lint]

      - name: Show versions
        run: uv pip freeze

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --verbose --all-files
