name: Publish Python package to PyPI and TestPyPI
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      publish_to_pypi:
        type: boolean
        default: 'false'
      publish_to_testpypi:
        type: boolean
        default: 'false'
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - name: Install pypa/build
      run: python3 -m pip install build --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v5
      with:
        name: python-package-distributions
        path: dist/

  publish-to-pypi:
    name: Publish to PyPI
    if: startsWith(github.ref, 'refs/tags/') || inputs.publish_to_pypi == 'true'
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/pytest-cython
    permissions:
      id-token: write
    steps:
    - name: Download dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
#    - name: Publish to PyPI
#      uses: pypa/gh-action-pypi-publish@release/v1

  publish-to-testpypi:
    name: Publish to TestPyPI
    needs: build
    runs-on: ubuntu-latest
    # if: inputs.publish_to_testpypi == 'true'
    environment:
      name: testpypi
      url: https://test.pypi.org/p/pytest-cython
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing
    steps:
    - name: Download dists
      uses: actions/download-artifact@v6
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
